.academy-logo__name {
  color: $simple-text;
}

.academy-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}

.academy-logo:hover svg {
  fill: $basic-green;
}

.academy-logo__name,
.academy-logo {
  &:active {
    opacity: 0.3;
  }
}
