.academy-logo {
  padding: 0 20px;
  margin: 0;
  display: block;
  text-align: right;
}

.academy-logo__link {
  color: $simple-text;
}

.academy-logo__link svg {
  margin-left: 150px;
}

.academy-logo__link:hover svg {
  fill: $basic-green;
}

.academy-logo__name,
.academy-logo__link {
  &:active {
    opacity: 0.3;
  }
}
