.addition {
  border: 0;
  padding: 0 20px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 44px auto;
  }
}

.addition__title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 26px, $black);
  margin: 0 0 38px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: $basic-white;
  padding: 0 20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;
  }

  &::before {
    content: "";
    background-color: $basic-green;
    display: block;
    width: 100vw;
    max-width: 1440px;
    height: 2px;
    position: absolute;
    top: 22px;
    left: -40px;
    z-index: -1;

    @media (max-width: $mobile-only) {
      top: 14px;
      left: 0;
    }

    @media (min-width: $tablet-width) {
      left: -30px;
    }

    @media (min-width: $desktop-width) {
      left: -70px;
      width: 1440px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
    margin-bottom: 61px;
  }
}

.addition__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 59px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 81px;
  }
}

.addition__label {
  padding: 6px 6px 6px 30px;

  @media (min-width: $tablet-width) {
    padding: 11px 9px 11px 39px;
  }
}
