.addition {
  border: 0;
  padding: 0 20px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 40px auto;
  }
}

.addition__title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 26px, $black);
  margin: 0 0 34px 0;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: relative;
    top: -8px;
    background-color: $basic-green;
    width: 300%;
    height: 1px;
    display: inline-block;
    vertical-align: baseline;

    @media (min-width: $tablet-width) {
      top: -10px;
    }
  }

  &::before {
    margin-left: -300%;
    left: -20px;
  }

  &::after {
    margin-right: -300%;
    right: -30px;
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
  }
}

.addition__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
