.additional-products {
  padding: 25px 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

.additional-products__title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 24px, $black);
  margin: 0 0 36px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: $basic-white;
  padding: 0 30px;
  margin-left: -30px;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
    margin-left: -10px;
  }

  &::before {
    content: "";
    background-color: $basic-green;
    display: block;
    width: 100vw;
    max-width: 1440px;
    height: 2px;
    position: absolute;
    top: 22px;
    left: -40px;
    z-index: -1;

    @media (max-width: $mobile-only) {
      top: 14px;
      left: 10px;
    }

    @media (min-width: $tablet-width) {
      left: -25px;
    }

    @media (min-width: $desktop-width) {
      left: -40px;
    }
  }
}

.additional-products__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  list-style: none;
  margin: 0 0 39px 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-right: 80px;
  }
}

.additional-products__button {
  display: flex;
}
