.button {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 18px, $basic-white);
  background-color: $basic-green;
  min-width: 280px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  border: 0;
  padding: 5px;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    color: $green-btn-active;
  }
}

.button--space {
  @media (max-width: $mobile-only) {
    @include fontSizeColor(16px, 20px, $basic-white);
    margin: 0 0 21px 0;
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $basic-white);
    width: 282px;
    height: 52px;
    display: flex;
    margin: 0 63px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-right: 82px;
  }
}
