.button {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 18px, $basic-white);
  background-color: $basic-green;
  min-width: 280px;
  height: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  &:hover {
    background-color: $green-btn-hover;
  }

  &:active {
    color: $green-btn-active;
  }
}
