.comment {
  border: 0;
  padding: 0 20px;
  margin: 0 0 22px 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 70px auto;
  }
}

.comment__title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 26px, $black);
  margin: 0 0 35px 0;
  width: 100%;

  &::before,
  &::after {
    content: "";
    position: relative;
    background-color: $basic-green;
    width: 300%;
    height: 1px;
    display: inline-block;
    vertical-align: baseline;

    @media (min-width: $tablet-width) {
      top: -10px;
    }
  }

  &::before {
    margin-left: -300%;
    left: -20px;
  }

  &::after {
    margin-right: -300%;
    right: -30px;
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
  }
}

.comment__field {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 18px);
  width: 100%;
  border: 1px solid $entry-box-basic;
  padding: 10px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px);
  }

  &:hover {
    border: 1px solid $scale-color;
  }

  &:focus {
    border: 1px solid $simple-text;
    outline: 1px solid $simple-text;
  }

  &:required:invalid {
    border: 1px solid $entry-box-error;
    outline: 1px solid $entry-box-error;
  }
}
