.contacts {
  background-color: $basic-white;
  text-align: left;
  padding: 28px 0 0 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.contacts__center-wrapper {
  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.contacts__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 28px 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: $basic-white;
    width: 570px;
    height: 201px;
    padding: 0 70px;
  }
}

.contacts__invite {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 18px, $contacts-color);
  text-transform: uppercase;
  width: 100%;
  margin: 0 10px 0 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 21px, $contacts-color);
  }
}

.contacts__address {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 20px, $simple-text);
  }
}

.contacts__form-color {
  background-color: $btn-color;
  margin: 0;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    padding: 40px 70px;
  }
}

.contacts__map {
  display: flex;
  background-color: $simple-text;
  min-width: 100%;
}
