.contacts {
  background-color: $basic-white;
  padding: 28px 0 0 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;
  }
}

.contacts__center-wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 0 auto;
  }
}

.contacts__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 94px;
    left: 50px;
    background-color: $basic-white;
    width: 570px;
    height: 201px;
    padding: 69px 70px 32px 76px;
    overflow: hidden;
  }
}

.contacts__invite {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 20px, $contacts-color);
  text-transform: uppercase;
  width: 45%;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 23px, $contacts-color);
    width: 30%;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.contacts__address {
  line-height: 20px;
  width: 50%;
  margin: 0;
  padding: 0;


  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 20px, $simple-text);
    text-align: right;
    margin: -5px 2px 0 0;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin: -5px 2px 0 0;
    width: 172px;
  }
}

.contacts__form-color {
  background-color: $btn-color;
  margin: 0;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    padding: 69px 70px 58px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 69px 67px 76px;
  }
}

.contacts__catalog-color {
  background-color: $btn-color;
  padding: 28px 20px;

  @media (min-width: $tablet-width) {
    padding: 67px 70px 58px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 70px 58px 77px;
    background-color: $basic-white;
  }
}

.contacts__catalog-space {
  margin: 0;
}

.contacts__map {
  display: flex;
  background: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  min-width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    background: url("../img/map-tablet.png");
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/map-desktop.png");
    height: 400px;
  }
}

.contacts__map-frame {
  width: 100%;
  height: 100%;
}

.contacts__adress-text {
  margin-top: 30px;
}

.contacts__adress-tablet--break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.contacts__adress-index-space {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 20px;
  }
}

.contacts.page-footer__top-space {
  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.contacts__center-wrapper.contacts__center-wrapper--form-space {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
