.feeding-process {
  text-align: left;
  padding: 0 20px 0 20px;
  margin: 0 0 36px 0;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $header-menu-line;
    margin-bottom: 16px;
    padding: 0 0 102px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
    border-bottom: 0;
  }
}

.feeding-process__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 30px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    max-width: 1320px;
    margin: 0 auto;
  }
}

.feeding-process__title {
  @media (min-width: $tablet-width) {
    @include fontSizeColor(60px, 60px, $black);
    margin-bottom: 62px;
  }

  @include fonts($fontOswaldRegular, 400, normal, 36px, 40px, $black);
  margin: 0 0 39px 0;
  padding: 0;
}

.feeding-process__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 123px;
    column-gap: 58px;
    counter-reset: list;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 79px;
  }
}

.feeding-process__list .feeding-process__item {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 79%;
    margin: 0;

    &::after {
      @include fonts($fontOswaldRegular, 400, normal, 280px, 0, $btn-color);
      display: flex;
      counter-increment: list;
      content: counter(list) "";
      position: absolute;
      top: 60%;
      right: 10%;
      z-index: -1;

      @media (min-width: $tablet-width) {
        top: 57%;
        left: 44%;
      }

      @media (min-width: $desktop-width) {
        top: 57%;
        left: 47%;
      }
    }
  }

  position: relative;
  z-index: 1;
  margin: 0 0 16px 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;

  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    @media (min-width: $tablet-width) {
      display: block;
      margin-bottom: 42px;
      position: relative;
      top: 10px;
    }

    display: inline-block;
    vertical-align: baseline;
    margin: 0 16px 0 0;
    padding: 0;
  }
}

.feeding-process__item--sheet {
  &::before {
    content: "";
    background-image: url("../img/decor.elements/sheet.svg"), linear-gradient(to right, $basic-green, $basic-green);
    background-repeat: no-repeat;
    background-position: center, center;
    width: 60px;
    height: 60px;
    background-size: 30px 32px, 60px 60px;
    position: relative;
    top: -2px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 30px 32px, 80px 80px;
    }
  }
}

.feeding-process__item--powder {
  &::before {
    content: "";
    background-image: url("../img/decor.elements/powder.svg"), linear-gradient(to right, $basic-green, $basic-green);
    background-repeat: no-repeat;
    background-position: center, center;
    width: 60px;
    height: 60px;
    background-size: 29px 31px, 60px 60px;
    position: relative;
    top: -2px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 30px 32px, 80px 80px;
    }
  }
}

.feeding-process__item--cutlery {
  &::before {
    content: "";
    background-image: url("../img/decor.elements/cutlery.svg"), linear-gradient(to right, $basic-green, $basic-green);
    background-repeat: no-repeat;
    background-position: center, center;
    width: 60px;
    height: 60px;
    background-size: 25px 30px, 60px 60px;
    position: relative;
    top: -2px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 30px 32px, 80px 80px;
    }
  }
}

.feeding-process__item--scales {
  @media (min-width: $tablet-width) {
    width: 40%;
  }

  &::before {
    content: "";
    background-image: url("../img/decor.elements/scales.svg"), linear-gradient(to right, $basic-green, $basic-green);
    background-repeat: no-repeat;
    background-position: center, center;
    width: 60px;
    height: 60px;
    background-size: 32px 33px, 60px 60px;
    position: relative;
    top: -2px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-size: 30px 32px, 80px 80px;
    }
  }
}

.feeding-process__item-description {
  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 24px);
    width: 100%;

    &:last-of-type {
      width: 100%;
    }
  }
  width: 70%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.feeding-process__break {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
