.gifts {
  position: relative;
  background: url("../img/cat-back.png") no-repeat;
  background-color: $basic-green;
  background-size: cover;
  min-width: 280px;
  min-height: 289px;
  margin: 0 0 35px 0;
  padding: 58px 20px 20px 20px;

  @media (min-width: $tablet-width) {
    background: url("../img/cat-back-tablet.png") no-repeat;
    background-size: cover;
    min-height: 200px;
    margin: 0;
    padding: 72px 125px 20px 79px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/cat-back-desktop.png") no-repeat;
    min-width: 0;
    width: 260px;
    min-height: 289px;
    background-size: cover;
    padding: 57px 20px 20px 24px;
    margin: 0;
  }
}

.gifts__text {
  @include fonts($fontArial, 400, normal, 16px, 20px, $basic-white);
  text-align: center;
  margin: 0;

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin: 0;
  }

  &::before {
    content: url("../img/decor.elements/icon-gift.svg");
    display: block;
    margin: 0 0 45px 0;
    padding: 0;

    @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
      display: inline-flex;
      margin: -14px 265px 0 0;
    }
  }
}
