.gifts {
  position: relative;
  background: url("../img/cat-back.png") no-repeat;
  background-size: cover;
  min-width: 280px;
  height: 289px;
  margin: 0 0 35px 0;
  padding: 40px 20px 0 20px;

  @media (min-width: $tablet-width) {
    background: url("../img/cat-back-tablet.png") no-repeat;
    background-size: cover;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/cat-back-desktop.png") no-repeat;
    min-width: 245px;
    min-height: 289px;
  }
}

.gifts__text {
  @include fonts($fontArial, 400, normal, 16px, 20px, $basic-white);
  text-align: center;

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    display: inline-flex;
    text-align: left;
  }

  &::before {
    content: url("../img/decor.elements/icon-gift.svg");
    display: block;
    margin: 0 0 48px 0;
    padding: 0;

    @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
      display: inline-flex;
      margin-right: 400px;
    }
  }
}
