.owner-contacts {
  border: 0;
  padding: 0 20px;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 66px auto;
  }
}

.owner-contacts__inner {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 18px);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 37px;
  }
}

.owner-contacts__title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 26px, $black);
  text-transform: none;
  margin: 0 0 35px 0;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  background: $basic-white;
  padding: 0 20px 0 20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding: 0 40px 0 40px;
    margin-left: -40px;
  }

  &::before {
    content: "";
    background-color: $basic-green;
    display: block;
    width: 100vw;
    max-width: 1440px;
    height: 2px;
    position: absolute;
    top: 22px;
    left: -40px;
    z-index: -1;

    @media (max-width: $mobile-only) {
      top: 14px;
      left: 0;
    }

    @media (min-width: $tablet-width) {
      left: -30px;
    }

    @media (min-width: $desktop-width) {
      left: -70px;
      width: 1440px;
    }
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
    margin-bottom: 76px;
  }
}

.owner-contacts__break {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.owner-contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 14px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0 40px 0 0;
  }

  &:last-of-type {
    margin: 0;

    .owner-contacts__item-wrapper .page-main__logic-connection {
      @media (min-width: $tablet-width) {
        margin-right: 15px;
      }
    }
  }
}

.owner-contacts__item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 0;
}

.owner-contacts__entry-box-img {
  position: absolute;
  top: 14px;
  right: 15px;

  @media (min-width: $tablet-width) {
    top: 17px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.owner-contacts__entry-box-img--phone {
  top: 14px;
  right: 16px;
}

.owner-contacts__entry-box {
  flex-grow: 1;

  &:focus {
    & + .owner-contacts__entry-box-img--mail {
      stroke: $basic-green;
      fill: $basic-green;
    }

    & + .owner-contacts__entry-box-img--phone {
      fill: $basic-green;
      stroke: $basic-green;
    }
  }

  &:required:invalid {
    & + .owner-contacts__entry-box-img--mail {
      stroke: $entry-box-error;
      fill: $entry-box-error;
    }

    & + .owner-contacts__entry-box-img--phone {
      fill: $entry-box-error;
      stroke: $entry-box-error;
    }
  }
}
