.page-body {
  @include fonts($fontArial, 400, normal, 14px, 18px, $simple-text);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: $basic-white;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-header.page-body__catalog-space {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.page-header.page-body__form-space {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 75px;
  }
}
