.page-header {
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-header--space {
  margin-bottom: 27px;
}

.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: none;
  }
  padding: 15px 0;
  border-bottom: 1px solid $header-menu-line;
}

.page-header__logo-stroke {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 277px;
  margin: 0 auto;
  padding: 0;
}

.page-header__toggle {
  max-width: 18px;
  min-height: 18px;
  background-color: $basic-white;
  border: 2px solid $black;
  border-left: none;
  border-right: none;
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
