.page-header {
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding: 0;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $header-menu-line;
  padding: 15px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__desktop-back {
  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.page-header--space {
  margin-bottom: 27px;
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
