.page-footer {
  margin: auto 0 0 0;
  padding-bottom: 25px;
  background-color: $btn-color;
}

.page-footer__inner {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
    height: 157px;
  }
}

.page-footer__inner--form-space .footer-logo {
  padding-top: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__inner.page-footer__inner--form-space {
  @media (min-width: $tablet-width) {
    height: 152px;
  }

  @media (min-width: $desktop-width) {
    height: 155px;
  }
}

.contacts.page-footer__catalog-space {
  padding: 0;
}
