.page-footer {
  margin: auto 0 0 0;
  padding-bottom: 25px;
  background-color: $btn-color;
}

.page-footer__inner {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
    height: 187px;
  }
}
