.page-header {
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding: 0;
  }
}

.page-header__wrapper {
  @media (max-width: $mobile-only) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $header-menu-line;
    padding: 15px 20px;
    margin: 0 auto;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-header__desktop-back {
  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.page-header--space {
  margin-bottom: 27px;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
  }
}

.page-header__logo-mobile {
  position: relative;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-mobile-text {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 30px;
  }
}
