.product-info {
  padding: 0;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 87px;
    margin-bottom: 630px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 420px 0;
  }
}

.product-info__wrapper {
  position: relative;
  background: url("../img/cat-background.jpg") 50%  0 no-repeat;
  text-align: center;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-green;
    width: 100%;
    height: 302px;
    opacity: 0.85;
    z-index: -1;

    @media (min-width: $tablet-width) {
      background: none;
    }

    @media (min-width: $desktop-width) {
      content: url("../img/index-background-desktop.jpg");
      position: absolute;
      top: -160px;
      left: 50%;
      min-width: 1043px;
      min-height: 696px;
    }
  }

  @media (min-width: $tablet-width) {
    background: none;
    text-align: left;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      top: -160px;
      left: 50%;
      background-color: $basic-green;
      width: 100%;
      min-height: 696px;
      z-index: 1;
      opacity: 0.85;
    }
  }
}

.product-info__inner {
  min-height: 302px;
  margin: 0 0 160px 0;
  padding: 30px 0 0 0;

  @media (min-width: $tablet-width) {
    background: none;
    opacity: 1;
    margin: 0;
    padding: 0;
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.product-info__title {
  @include fonts($fontOswaldRegular, 400, normal, 36px, 36px, $basic-white);

  margin: 0 0 25px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(60px, 60px, $black);
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
  }
}

.product-info__slogan {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 14px, $basic-white);

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $black);
  }
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.product-info__picture {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: -60px;
    left: 60%;
    width: 552px;
    height: 499px;
    z-index: 1;
  }
}

.product-info__button-tablet.button {
  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    position: absolute;
    top: 200px;
    left: 87px;
    z-index: 1;
    font-size: 20px;
    line-height: 20px;
    min-width: 244px;
    height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    min-width: 244px;
    height: 54px;
  }
}
