.product-item {
  margin: 0;
  padding: 16px 0 19px 0;
  border-bottom: 1px solid $scale-color;

  @media (min-width: $tablet-width) {
    border: 1px solid $scale-color;
    padding: 30px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border-left: 0;
    border-right: 0;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  &:first-of-type {
    border-top: 1px solid $scale-color;
  }

  &:last-of-type {
    border-bottom: 1px solid $scale-color;
  }
}

.product-item__title {
  margin: 0;
  padding: 0;
}

.product-item__link {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 16px, $radio-button-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $radio-button-color);
  }
}

.product-item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin: 0 0 15px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 20px);
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
  }
}

.product-item__table {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 10%;
  }
}

.product-item__inner {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.product-item__table-data {
  margin-right: 50px;
}
