.product-info {
  @media (max-width: $mobile-only) {
    padding: 0;
    margin: 0 0 22px 0;
  }

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    overflow: hidden;
    text-align: left;
    padding-left: 117px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 0 149px 0;
    padding-top: 0;

    &::after {
      content: "";
      position: absolute;
      top: -124px;
      left: 50%;
      width: 50%;
      height: 693px;
      background: linear-gradient(to right, $green-opacity, $green-opacity), url("../img/index-background-desktop.jpg") no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(to right, $green-opacity, $green-opacity), url("../img/index-background-desktop@2x.png") no-repeat;
        background-size: 143% 107%;
      }
    }
  }
}

.product-info__wrapper {
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 28px 20px 0 20px;

  &::after {
    @media (max-width: $mobile-only) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, $green-opacity, $green-opacity), url("../img/cat-background.png") 64% 0 no-repeat;
      width: 100%;
      height: 302px;
      z-index: -1;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(to right, $green-opacity, $green-opacity), url("../img/cat-background@2x.png") 64% 0 no-repeat;
      }
    }
  }

  @media (min-width: $tablet-width) {
    background: none;
    text-align: left;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.product-info__inner {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    opacity: 1;
    margin: 0;
    padding: 0;
    min-height: 0;
  }

  @media (min-width: $desktop-width) {
    width: 37%;
    padding-top: 100px;
    padding-left: 80px;
  }
}

.product-info__title {
  @include fonts($fontOswaldRegular, 400, normal, 36px, 36px, $basic-white);
  margin: 0 0 25px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(60px, 60px, $black);
    width: 70%;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 115%;
    margin-bottom: 40px;
  }
}

.product-info__slogan {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 14px, $basic-white);
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $black);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.product-info__picture {
  min-width: 280px;

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    min-width: 664px;
    height: 612px;
    position: relative;
    top: 5px;
    left: -47px;
  }

  @media (min-width: $desktop-width) {
    background-size: contain;
    width: 552px;
    height: 499px;
    position: relative;
    top: 19px;
    left: -3px;
  }
}

.product-info__button-tablet.button {
  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    @include fontSizeColor(20px, 20px, $basic-white);
    position: absolute;
    top: 230px;
    left: -5px;
    min-width: 244px;
    height: 54px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.button.product-info__button-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-flex;
    font-size: 20px;
    line-height: 20px;
    min-width: 244px;
    height: 54px;
  }
}
