.product-item {
  min-height: 129px;
  margin: 0;
  padding: 14px 0 0 0;
  border-bottom: 1px solid $scale-color;

  @media (min-width: $tablet-width) {
    min-height: 139px;
    border: 1px solid $scale-color;
    padding: 26px 35px 10px 38px;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    border-left: 0;
    border-right: 0;
    padding: 10px 0 10px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
  }

  &:first-of-type {
    border-top: 1px solid $scale-color;
  }

  &:last-of-type {
    border-bottom: 1px solid $scale-color;
  }
}

.product-item__title {
  margin: 0 0 8px 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
  }
}

.product-item__link {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 16px, $radio-button-color);
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $radio-button-color);
  }
}

.product-item__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 20px);
    column-gap: 49px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin: 0;
  }
}

.product-item__table {
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 10%;
  }

  @media (min-width: $desktop-width) {
    width: 47%;
  }
}

.product-item__inner {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 612px;
    margin: 0;
  }
}

.product-item__table-data {
  @media (max-width: $mobile-only) {
    &:first-of-type {
      width: 50%;
      text-align: left;
    }

    &:last-of-type {
      width: 50%;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }
}
