.questionnaire {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 18px);
  text-transform: uppercase;
  border: 0;
  margin: 0 0 50px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px);
  }

  @media (min-width: $desktop-width) {
    margin: 0 40px 0 0;
  }
}

.questionnaire__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 24px 0;

  &:last-of-type {
    margin: 0;
  }
}

.questionnaire__entry-box {
  flex-grow: 1;
}
