.radio-box-field {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 18px);
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;

  @media (max-width: $mobile-only) {
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
    padding: 20px;
  }

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px);
    border: 1px solid $line-color;
    padding: 27px 25px 25px 25px;
    margin: 0 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 24px 50px 0 50px;
    margin: 0 auto;
  }
}
