.range-filter__img-wrapper {
  text-align: center;
}

.range-filter__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-filter__scale {
  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 0;
    width: 428px;
  }
  width: 84px;
  height: 14px;
  border: 1px solid $scale-color;
  border-radius: 6px;
  margin: 0 5px 0 0;
  position: relative;
  background-color: $basic-white;
}

.range-filter__bar {
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  position: absolute;
  top: 3px;
  left: 4px;

  @media (min-width: $tablet-width) {
    width: 428px;
    background-color: $scale-tablet;
  }
}

.range-filter__button {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 20px, $black);
  border: none;
  border-bottom: 1px dashed $border-dashed-color;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  &:first-of-type {
    margin: 0 5px 0 0;
  }

  &:hover {
    border-bottom: 1px solid $border-solid-color;
  }

  &:active {
    border: none;
  }
}

.range-filter__cat {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.range-filter__cat-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.range-filter__cat-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: -500px;
    right: 40px;
  }
}

.range-filter__toggle {
  @media (min-width: $tablet-width) {
    position: relative;
    top: -11px;
    left: 214px;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border-radius: 55%;
    border: 1px solid $scale-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid $basic-green;
    }
  }
}

.range-filter__toggle-green {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}
