.range-filter {
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 35%, $bg-example 35%);
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 30px;
    position: relative;
    min-height: auto;
    margin-top: auto;
  }
}

.range-filter__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.range-filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 59px 0 64px;

  @media (min-width: $tablet-width) {
    padding: 0 100px 0 98px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 59px 0 64px;
    transform: translate(93px, 25px);
  }
}

.range-filter__scale {
  width: 84px;
  height: 14px;
  border: 1px solid $scale-color;
  border-radius: 6px;
  margin: 0 0 0 0;
  position: relative;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border: 0;
    width: 435px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    left: 20px;
    width: 474px;
  }
}

.range-filter__bar {
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  position: absolute;
  top: 2px;
  left: 5px;

  @media (min-width: $tablet-width) {
    width: 428px;
    background-color: $scale-tablet;
  }
}

.range-filter__button {
  @include fonts($fontOswaldRegular, 400, normal, 16px, 20px, $black);
  border: none;
  border-bottom: 1px dashed $border-dashed-color;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 20px, $black);
    padding-bottom: 4px;
  }

  &:first-of-type {
    margin: 0 0 0 0;
  }

  &:hover,
  :focus {
    border-bottom: 1px solid $border-solid-color;
  }

  &:active {
    border: none;
  }
}

.range-filter__cat {
  height: 242px;
  width: 315px;
  margin-right: auto;

  @media screen and (min-width: $tablet-width) and (max-width: $tablet-max-width) {
    height: 598px;
    width: 672px;
    margin: 0 auto;
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -515px;
    left: 81px;
    width: 93%;
    height: 522px;
  }
}

.range-filter__thin-cat {
  display: none;
}

.range-filter__toggle {
  @media (min-width: $tablet-width) {
    position: relative;
    top: -13px;
    left: 203px;
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border-radius: 55%;
    border: 1px solid $scale-color;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid $basic-green;
    }
  }
}

.range-filter__toggle-green {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 50%;
  }
}

.range-filter__appear-cat {
  display: block;
}

.range-filter__disappear-cat {
  display: none;
}
