.selections-programm {
  padding: 0 20px;
  margin: 0 0 27px 0;

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 1200px;
  }
}

.selections-programm__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.selections-programm__item {
  text-align: left;
  background-color: $btn-color;
  margin: 0 0 20px 0;
  padding: 0 20px 20px 20px;
}

.selections-programm__item-title {
  @include fonts($fontOswaldRegular, 400, normal, 24px, 37px, $black);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  padding: 30px 0 0 0;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(36px, 36px, $black);
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.selections-programm__item-description {
  width: 85%;
  text-align: left;
  padding: 0 0 20px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(16px, 24px, $black);
    width: 60%;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
  }
}

.selections-programm__item--cat-sit-img {
  &::before {
    content: "";
    background: url("../img/decor.elements/cat-sit.svg") no-repeat;
    transform: translateY(40%);
    width: 50px;
    height: 53px;
    display: inline-block;
    vertical-align: baseline;

    @media (min-width: $tablet-width) {
      float: right;
      width: 200px;
      height: 211px;
      background-size: contain;
      transform: translate(-5%, 5%);
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      float: none;
      display: inline-block;
      width: 100px;
      height: 106px;
      margin-right: 50px;
    }
  }
}

.selections-programm__item--cat-walk-img {
  position: relative;

  &::before {
    content: "";
    background: url("../img/decor.elements/cat-walk.svg") no-repeat;
    transform: translateY(40%);
    width: 67px;
    height: 50px;
    display: inline-block;
    vertical-align: baseline;
    position: relative;

    @media (min-width: $tablet-width) {
      float: right;
      width: 268px;
      height: 200px;
      background-size: contain;
      transform: translateY(10%);
      padding: 20px;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      vertical-align: baseline;
      float: none;
      width: 134px;
      height: 100px;
      margin-right: 50px;
    }
  }
}

.selections-programm__item--cat-walk-img .selections-programm__item-description {
  @media (min-width: $tablet-width) {
    width: 55%;
  }

  @media (min-width: $desktop-width) {
    width: 90%;
  }
}

.selections-programm__border-bottom-wrapper {
  @media (min-width: $tablet-width) {
    border: 0;
  }
  border-bottom: 1px solid $line-color;
  margin: 0 0 23px 0;
}

.selections-programm__item-link {
  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px, $black);
  }

  @include fonts($fontOswaldRegular, 400, normal, 16px, 16px, $black);
  text-transform: uppercase;
  text-align: left;
  padding: 0 0 20px 0;

  &::after {
    content: url("../img/decor.elements/icon-arrow.svg");
    padding: 0 0 0 17px;
  }

  &:hover {
    &::after {
      content: url("../img/decor.elements/long-arrow.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }
}
