.shape {
  margin: 0;
  padding: 0 0 32px 0;
}

.shape__required-text {
  @include fonts($fontArial, 400, normal, 14px, 16px, $black);
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: 10px;
    left: -50px;
  }
}

.shape__button-wrapper {
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 22px auto;
  }
}

.shape__inner {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 27px 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 70px auto;
  }
}

.shape__programm-text {
  @include fonts($fontOswaldRegular, 400, normal, 14px, 18px, $black);
  margin: 0 0 39px 0;
  text-transform: uppercase;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    @include fontSizeColor(20px, 30px, $black);
    padding: 0 30px;
    margin: 0 0 39px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto 39px auto;
  }
}
