.social-list {
  list-style: none;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  column-gap: 34px;
  row-gap: 10px;
  width: 64%;
  padding: 21px 9px 19px 6px;
  margin: 0;
  position: relative;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    column-gap: 19px;
    row-gap: 0;
  }
}

.social-list__social-item--vkontakte {
  &::before {
    content: "";
    background: url("../img/icon-vkontakte.svg") no-repeat;
    width: 23px;
    height: 16px;
    display: block;

    @media (min-width: $tablet-width) {
      content: "";
      background: url("../img/icon-vkontakte.svg") no-repeat;
      background-size: contain;
      width: 30px;
      height: 24px;
      display: block;
      margin: 0 7px 0 -5px;
    }
  }

  &:hover {
    content: url("../img/vkontakte-hover.svg");
    width: 23px;
    height: 16px;
    display: block;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 21px;
      padding: 0;
      margin: 0 7px 4px -5px;
    }

    @media (min-width: $desktop-width) {
      width: 30px;
      height: 21px;
      padding: 0;
      margin: 0 7px 2px -5px;
    }
  }
}

.social-list__social-item--instagram {
  &::before {
    content: "";
    background: url("../img/icon-instagram.svg") no-repeat;
    width: 16px;
    height: 16px;
    display: block;

    @media (min-width: $tablet-width) {
      content: "";
      background: url("../img/icon-instagram.svg") no-repeat;
      background-size: contain;
      width: 23px;
      height: 23px;
      display: block;
    }
  }

  &:hover {
    content: url("../img/instagram-hover.svg");
    width: 16px;
    height: 16px;
    display: block;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }
}

.social-list__social-item--facebook {
  &::before {
    content: "";
    background: url("../img/icon-facebook.svg") no-repeat;
    width: 22px;
    height: 22px;
    display: block;

    @media (min-width: $tablet-width) {
      content: "";
      background: url("../img/icon-facebook.svg") no-repeat;
      background-size: contain;
      width: 35px;
      height: 32px;
      display: block;
    }
  }

  &:hover {
    content: url("../img/facebook-hover.svg");
    width: 22px;
    height: 22px;
    display: block;

    @media (min-width: $tablet-width) {
      width: 32px;
      height: 32px;
      padding: 0 0 0 0;
      margin: 0 4px 0 0;
    }

    @media (min-width: $desktop-width) {
      width: 32px;
      height: 32px;
      padding: 0 0 0 0;
      margin: 0 4px 0 0;
    }
  }
}

.social-list__social-item--hover-active:active {
  opacity: 0.3;
}
