// colors
$bg-page: #e5e5e5;
$basic-green: #68b738;
$bg-programms: #d9d9d9;
$bg-example: #eaeaea;
$btn-color: #f2f2f2;
$line-color: #d9d9d9;
$basic-white: #ffffff;
$scale-color: #cdcdcd;
$black: #000000;
$contacts-color: #111111;
$simple-text: #444444;
$green-btn-hover: #5eaa2f;
$green-btn-active: rgba(255, 255, 255, 0.3);
$border-dashed-color: rgba(0, 0, 0, 0.24);
$border-solid-color: rgba(0, 0, 0, 0.4);
$header-menu-line: #e6e6e6;
$entry-box-basic: #e7e7e7;
$entry-box-error: #ff8282;
$check-box-hover: #bababa;
$check-box-disabled: rgba(186, 186, 186, 0.3);
$radio-button-color: #222222;
$radio-button-opacity: rgba(34, 34, 34, 0.3);

// fonts
$fontOswaldRegular: "Oswald Regular", "Arial", sans-serif;
$fontOswaldMedium: "Oswald Medium", "Arial", sans-serif;
$fontArial: "Arial", sans-serif;
